<div class="container">
  <h5>Categories</h5>
  <table class="hoverable responsive-table striped bordered">
    <thead>
      <tr>
        <th data-field="id">ID</th>
        <th data-field="name">Name</th>
        <th data-field="desc">Description</th>
        <th data-field="products_count">Products</th>
        <th data-field="status">Status</th>
        <th data-field="action">
          <a class="btn-floating btn-small waves-effect waves-light red" ui-sref="categories_add"><i class="material-icons">add</i></a>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>00001</td>
        <td>Baju</td>
        <td>Baju adalah kumpulan benang yang tersusun dengan rapi yang bertujuan untuk menutupi badan manusia.</td>
        <td>11</td>
        <td><p class="green-text">Active</p></td>
        <td><a class="waves-effect waves-light btn">Edit</a></td>
      </tr>
      <tr>
        <td>00002</td>
        <td>Celana</td>
        <td>Celana di masa kini telah menjadi sebuah fashion yang tidak terlepaskan dari kehidupan manusia.</td>
        <td>4</td>
        <td><p class="red-text">Inactive</p></td>
        <td><a class="waves-effect waves-light btn">Edit</a></td>
      </tr>
      <tr>
        <td>00003</td>
        <td>Kemeja</td>
        <td>Kemeja biasanya digunakan untuk acara-acara formal seperti pesta atau acara lainnya.</td>
        <td>2</td>
        <td><p class="red-text">Inactive</p></td>
        <td><a class="waves-effect waves-light btn">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
