<div class="container">
	<div class="row" style="padding: 10px;">
		<div class="col s3">
			<div class="box-content" align="center">
				<img src="http://srv-live-02.lazada.co.id/p/mulba-sl273-leather-cuff-bracelet-hitam-cokelat-4027-4872501-1-zoom.jpg" class="image-product">				
				<div class="title-product">
					<p>Jam Tangan</p>
				</div>
				<div class="price-product">
					Rp 400.000,00 
				</div>
				<div class="description-product">
					<p> Jam tangan berasal dari Jerman! Harga murah bangett! </p>
				</div>
				<div class="detail-button">
					<button>Detail</button>
				</div>
			</div>
		</div>
		<div class="col s3"><p>s12 m4</p></div>
		<div class="col s3"><p>s12 m4</p></div>
		<div class="col s3"><p>s12 m4</p></div>
	</div>
</div>