
<div class="container">
	<h4>Top Selling</h4>
	<div class="row" style="padding: 10px;">
		<div class="col s3">
			<div class="box-content" align="center">
				<img src="http://srv-live-01.lazada.co.id/p/cressida-tipografi-wave-biru-9599-7033111-1-zoom.jpg" class="image-product">				
				<div class="title-product">
					<p>Kaos Tipografi Biru</p>
				</div>
				<div class="price-product">
					Rp 400.000,00 
				</div>
				<div class="description-product">
					<p> Cressida Tipografi 'Wave' dengan kualitas sablon terbaik. Warna yang cerah menjadikan kaos ini cocok di gunakan untuk kamu berlibur </p>
				</div>
				<div class="detail-button">
					<button>Detail</button>
				</div>
			</div>
		</div>
		<div class="col s3">
			<div class="box-content" align="center">
				<img src="http://srv-live-02.lazada.co.id/p/cressida-raglan-denim-goods-hitam-1843-1205701-1-zoom.jpg" class="image-product">				
				<div class="title-product">
					<p>Kaos Ragian Denim Goods</p>
				</div>
				<div class="price-product">
					Rp 200.000,00 
				</div>
				<div class="description-product">
					<p> Cressida Raglan Denim goods Kontras Raglan koleksi dari Cressida yang cocok dipakai untuk acara santai </p>
				</div>
				<div class="detail-button">
					<button>Detail</button>
				</div>
			</div>
		</div>
		<div class="col s3">
			<div class="box-content" align="center">
				<img src="http://srv-live-03.lazada.co.id/p/cressida-plaket-kancing-tangan-panjang-orange-9873-794759-1-zoom.jpg" class="image-product">				
				<div class="title-product">
					<p> Plaket Kancing Pink</p>
				</div>
				<div class="price-product">
					Rp 250.000,00 
				</div>
				<div class="description-product">
					<p> Plaket Kancing memiliki warna yang cerah menjadikan kaos ini cocok di gunakan untuk kamu berlibur dimanapun.  </p>
				</div>
				<div class="detail-button">
					<button>Detail</button>
				</div>
			</div>
		</div>
		<div class="col s3">
			<div class="box-content" align="center">
				<img src="http://srv-live-01.lazada.co.id/p/cressida-celana-chino-coklat-5089-6188331-1-webp-zoom.jpg" class="image-product">				
				<div class="title-product">
					<p>Celana Chino Coklat</p>
				</div>
				<div class="price-product">
					Rp 300.000,00 
				</div>
				<div class="description-product">
					<p> Celana Chino adalah product CRESSIDA CHINO dengan pola potongan SLIM, terlihat pas di badan tapi tidak ketat seperti pola skinny.  </p>
				</div>
				<div class="detail-button">
					<button>Detail</button>
				</div>
			</div>
		</div>
		<div class="col s12">
			<ul class="pagination">
				<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				<li class="active"><a href="#!">1</a></li>
				<li class="waves-effect"><a href="#!">2</a></li>
				<li class="waves-effect"><a href="#!">3</a></li>
				<li class="waves-effect"><a href="#!">4</a></li>
				<li class="waves-effect"><a href="#!">5</a></li>
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
	</div>
</div>