<div class="container">
  <div class="row">
    <div class="col s12">
      <a class="btn-floating btn-large waves-effect waves-light red right" href="/products/add"><i class="material-icons">add</i></a>
    </div>
  </div>

  <table class="hoverable responsive-table striped bordered">
    <thead>
      <tr>
        <th data-field="id" hidden>id</th>
        <th data-field="checklist"></th>
        <th data-field="vendor_code">Vendor Code</th>
        <th data-field="name">Name</th>
        <th data-field="brand">Brand</th>
        <th data-field="category">Category</th>
        <th data-field="base_price">Base Price</th>
        <th data-field="final_price">Final Price</th>
        <th data-field="stock">Stock</th>
        <th data-field="status">Status</th>
        <th data-field="action"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td hidden>Alvin</td>
        <td><input type="checkbox" id="checkbox1" /><label for="checkbox1"></label></td>
        <td>BJ0001</td>
        <td>Baju Ganteng</td>
        <td>Lacoste</td>
        <td>Baju</td>
        <td>Rp 100.000</td>
        <td>Rp 95.000</td>
        <td>9</td>
        <td><input type="checkbox" id="status1" checked="checked" /><label for="status1"></label></td>
        <td><a class="waves-effect waves-light btn">Edit</a></td>
      </tr>
      <tr>
        <td hidden>Alvin</td>
        <td><input type="checkbox" id="checkbox2" /><label for="checkbox2"></label></td>
        <td>CLN0001</td>
        <td>Celana Ganteng</td>
        <td>Lacoste</td>
        <td>Celana</td>
        <td>Rp 100.000</td>
        <td>Rp 95.000</td>
        <td>9</td>
        <td><input type="checkbox" id="status2" /><label for="status2"></label></td>
        <td><a class="waves-effect waves-light btn">Edit</a></td>
      </tr>
      <tr>
        <td hidden>Alvin</td>
        <td><input type="checkbox" id="checkbox3" /><label for="checkbox3"></label></td>
        <td>KMJ0001</td>
        <td>Kemeja Ganteng</td>
        <td>Lacoste</td>
        <td>Kemeja</td>
        <td>Rp 100.000</td>
        <td>Rp 95.000</td>
        <td>9</td>
        <td><input type="checkbox" id="status3" /><label for="status3"></label></td>
        <td><a class="waves-effect waves-light btn">Edit</a></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col s12">
      <a target="_blank" href="http://demo.prestashop.com/en/?view=back">Reference</a>
    </div>
  </div>
</div>