<div class="container">
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header" id="collapsible_header_information"><i class="material-icons">information</i>Kaos Tipografi Biru</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="short_desc" class="materialize-textarea">Cressida Tipografi 'Wave' dengan kualitas sablon terbaik. Warna yang cerah menjadikan kaos ini cocok di gunakan untuk kamu berlibur</textarea>
            <label for="short_desc">Short Description</label>
          </div>
          <div class="input-field col s12">
            <textarea id="desc" class="materialize-textarea">Cressida Tipografi 'United Kingdom' dengan kualitas sablon terbaik. Warna yang cerah menjadikan kaos ini cocok di gunakan untuk kamu berlibur. Selain desain yang keren dan nyaman dipakai baju ini juga terbuat dari material yang ringan yang selalu menjadikan produk ini terbaik untuk dimiliki. Rubahlah gaya kamu dengan produk terbaru dari Cressida ini.</textarea>
            <label for="desc">Description</label>
          </div>
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Save
              <i class="material-icons">send</i>
            </button>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">star_rate</i>Prices</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s6 m12">
            <input id="buy_price" type="number" class="validate">
            <label for="buy_price">Buy Price</label>
          </div>
          <div class="input-field col s6 m12">
            <input id="sell_price" type="number" class="validate">
            <label for="sell_price">Sell Price</label>
          </div>
          <div class="input-field col s12">
            <input id="sale_price" type="number" class="validate">
            <label for="sale_price">Sale Price</label>
          </div>
          <div class="input-field col s6 m12">
            <input id="sale_from" type="date" class="datepicker">
            <label for="sale_from">Sale From</label>
          </div>
          <div class="input-field col s6 m12">
            <input id="sale_until" type="date" class="datepicker">
            <label for="sale_until">Sale Until</label>
          </div>
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Save
              <i class="material-icons">send</i>
            </button>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">image</i>Images</div>
      <div class="collapsible-body">
        <img class="materialboxed" data-caption="Lorem ipsum dolor sit amen" width="250" src="http://lorempixel.com/400/250/fashion/1"/>
        <img class="materialboxed" data-caption="Lorem ipsum dolor sit amen" width="250" src="http://lorempixel.com/400/250/fashion/2"/>
        <div class="col s12">
          <div class="file-field input-field">
            <div class="btn">
              <span>Image</span>
              <input type="file" />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
          </div>
        </div>
        <div class="col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">Save
            <i class="material-icons">send</i>
          </button>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">list</i>Others</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s6 m12">
            <select>
              <option value="" disabled selected>Choose one category</option>
              <option value="tas">Tas</option>
              <option value="baju">Baju</option>
              <option value="celana">Celana</option>
            </select>
            <label>Category</label>
          </div>
          <div class="input-field col s6 m12">
            <input id="quantity" type="number" class="validate">
            <label for="quantity">Quantity</label>
          </div>
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Save
              <i class="material-icons">send</i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="row" id="button_save_and_continue">
    <div class="col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Save and Continue
        <i class="material-icons">send</i>
      </button>
    </div>
  </div>

  <ul class="collapsible" data-collapsible="expandable" id="collapsible_marketplace">
    <li>
      <div class="collapsible-header" id="collapsible_header_lazada"><i class="material-icons">done</i>Lazada Indonesia</div>
      <div class="collapsible-body">

      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">done</i>Tokopedia</div>
      <div class="collapsible-body">
        
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">done</i>Bukalapak</div>
      <div class="collapsible-body">
        
      </div>
    </li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
    $('select').material_select();
    $('.slider').slider({full_width: true});

    $('#collapsible_header_information').click();
    $('#collapsible_marketplace').hide();
    $('#button_save_and_continue').click(function(event) {
      event.preventDefault();
      $('#collapsible_marketplace').show('slow');
      $('#collapsible_header_lazada').click();
    });
  });
</script>
